{templateType Trilobit\Core\Presentation\Styleguide\OverviewDefaultTemplate}

{* A handful of short statements, each one marked. *}

{import '../../templates/furniture.latte'}
{import '../../../components/marker-list.latte'}

{block sgPage}
    {embed block sgSection, component: $components['c-marker-list']}
        {block sgSectionBody}
            {specimen 'default'}
                {include markerList, items: $statements}
            {/specimen}
        {/block}
    {/embed}
{/block}
